.category-content {
    width: 80%;
    margin: 10px auto;

    .category {
        display: flex;
        justify-content: space-between;
        background: $color-gray;
        padding: 15px 30px;

        h4 {
            display: flex;
            align-items: center;
            color: $color-light;
            font-family: $font-second;
            font-size: 22px;
            font-weight: lighter;
        }

        i {
            cursor: pointer;
            margin: auto 5px;
            font-size: 40px;
            color: $color-light;
        }
        .fa-times-circle {
            color: $color-red;
        }
        
    }

    .list-open {
        display: block;
        border: 1px solid $color-gray;

        .no-service {
            display: flex;
            justify-content: center;
            padding: 15px 30px;
            font-family: $font-second;
            font-size: 22px;
        }

        .service-content {
            padding: 15px 30px;
            display: flex;
            
            form {
                width: 90%;
                display: flex;
                margin-bottom: 70px;
                
                .left {
                    width: 60%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: $font-second;
                        font-weight: lighter;
                        margin: 5px 10px;
                    }
                    input[type=text] {
                        padding: 8px 16px;
                        font-size: 18px;
                        color: $color-gray;
                        border: 1px solid $color-black;
                        width: -webkit-max-content;
                        width: -moz-max-content;
                        width: 100%;
                    }
                }
                .right {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    position: relative;
                    
                    label {
                        font-family: $font-second;
                        font-weight: lighter;
                        margin: 5px 10px;
                    }
                    input[type=text] {
                        padding: 8px 16px;
                        color: $color-gray;
                        font-size: 18px;
                        border: 1px solid $color-black;
                        width: 100%;
                    }
                    input[type=submit] {
                        cursor: pointer;
                        position: absolute;
                        padding: 10px 20px;
                        background: $color-green;
                        font-family: $font-second;
                        color: $color-light;
                        font-size: 18px;
                        border: 0px;
                        border-radius: 4px;
                        bottom: -60px;
                        right: 0;
                    }
                }
            }

            .left {
                width: 60%;
                display: flex;
                flex-direction: column;


                h5 {
                    font-size: 22px;
                    color: $color-black;
                    font-family: $font-second;
                    font-weight: lighter;
                }
                h5:first-letter {
                    text-transform: uppercase;
                }
                p {
                    font-size: 18px;
                    margin-left: 10px;
                    font-family: $font-second;
                    font-weight: bold;
                }
            }
            .right {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h5 {
                    font-size: 22px;
                    color: $color-black;
                    font-family: $font-second;
                    font-weight: lighter;
                }

                p {
                    font-size: 18px;
                    margin-left: 10px;
                    font-family: $font-second;
                    font-weight: bold;
                }
            }

            .action {
                width: 10%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .fa-edit {
                    cursor: pointer;
                    color: $color-yellow;
                    font-size: 25px;
                    margin: 5px;
                }

                .fa-trash-alt {
                    cursor: pointer;
                    color: $color-red;
                    font-size: 25px;
                    margin: 5px;
                }
            }
        }
    }

    .list-close {
        display: none;
        border: 1px solid $color-gray;

        
    }


}