.sidebar-open {
    min-height: 100vh;
    height: 100%;
    background: $color-black;
    position: absolute;
    width: 300px;
    transition-duration: 0.7s;

    h1 {
        opacity: 1;
        font-family: $font-first;
        color: $color-light;
        font-weight: lighter;
        font-size: 40px;
        margin: 10px;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
    }  
}
.sidebar-close {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: $color-black;
    width: 70px;
    transition-duration: 0.7s;

    h1 {
        opacity: 0;
        font-family: $font-first;
        color: $color-light;
        font-weight: lighter;
        font-size: 40px;
        margin: 10px;
    }
}
.menu-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 40px;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 11;
}
.menu-btn__burger {
    width: 35px;
    height: 5px;
    background: $color-light;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background: $color-light;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-10px);
}
.menu-btn__burger::after {
    transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.btn-group {
    position: absolute;
    top: 40px;
    border-top: 4px solid $color-gray;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .btn-open {
        position: relative;
        width: 300px;
        height: 100px;
        padding: 20px;
        border-top: 0;
        border-bottom: 2px solid gray;
        border-left: 0;
        border-right: 0;
        font-weight: 100;
        color: $color-light;
        font-size: 18px;
        transition-duration: 0.7s;

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            font-family: $font-second;
            font-size: 22px;
            opacity: 1;
            transition: ease-in-out 0.5s;
            transition-delay: 0.3s;
        }
    }
    .btn-close {
        position: relative;
        width: 70px;
        height: 100px;
        padding: 20px;
        border-top: 0;
        border-bottom: 2px solid gray;
        border-left: 0;
        border-right: 0;
        font-weight: 100;
        color: $color-light;
        font-size: 18px;
        transition-duration: 0.7s; 

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            font-family: $font-second;
            font-size: 22px;
            opacity: 0;
            transition: all 0.7;
        }
    }
    .btn-danger {
        background:  $color-red;
        font-family: $font-second;
    }
    .btn-classic {
        background:  $color-black;
        font-family: $font-second;
    }

    i {
        position: absolute;   
        font-size: 40px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: $color-light;
    }
}